body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
h1 {
    color: lightblue;
}